
.header-a {
    border-bottom: 3px solid black;
    font-family: Verdana, sans-serif;
    color: black;
    width: 40%;
}

.header-b {
    border-bottom: 3px solid black;
    font-family: Verdana, sans-serif;
    color: black;
    width: 50%;
}

.header-hinne {
    border-bottom: 3px solid black;
    font-family: Verdana, sans-serif;
    color: black;
    width: 10%;
}

.first{
    width: 40%;
}

.second{
    width: 40%;
}

.filledStar {
    color: darkorange;
    font-size: large;
}

.emptyStar {
    color: darkgray;
    font-size: large;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.button {
    width: 8rem;
    color: white;
    background: royalblue;
    font-size: medium;
    border: none;
}

.deleteButton {
    width: 8rem;
    color: white;
    background: mediumvioletred;
    font-size: medium;
    border: none;
}

.alert {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.message {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert, .message {
    border-width: 1px;
    border-style: solid;
    border-radius: .25rem;

    line-height: 1.7rem;

    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
}

main {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

body {
    font-family: Verdana, sans-serif;
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}

nav span {
    padding: 0 0.5rem;
}

nav, footer {
    background-color: lavender;
    border-radius: .25rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: lavender;
    font-family: Verdana, sans-serif;
    text-decoration: none;
}

input[type='text'], select{
    font-size: 0.8rem;
    width: 15rem;
    padding: 0.3rem;
    margin-top: 3px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: .25rem;
}

#root {
    padding: 1rem;
    display: grid;
    min-height: 100vh;
    grid-template-rows: 2.2rem auto 2.2rem;
}

#input-form {
    margin: 0 auto;
    padding-top: 2rem;
    display: flex;
    max-width: 28rem;
    flex-wrap: wrap;
}

#input-form .label-cell {
    width: 8rem;
    line-height: 1.9rem;
    text-align: right;
    padding-right: 1rem;
}

#input-form .input-cell {
    line-height: 1.9rem;
}

#author-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    line-height: 2rem;
    background-color: aliceblue;
}

#author-list div.header-divider {
    background-color: #666;
    padding-top: 0.2rem;
    margin-bottom: 0.4rem;
}